<html>
    <head>
        <title>Django Girls blog</title>
    <head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 27.10.2017, 14:42</p>
            <h2><a href="">My first post</a></h2>
            <p>gdjglkjgfjgkfdjgklfdjgjgkljgdflgjfldgjfldgjlfdkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkfggggggggggggggggggggggggdfjgkldfjgjg/</p>
        </div>
            
        <div>
            <p>published: 26.10.2017, 14:56</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi there!ugiuoreuoierutoerutoierutierutoieutoljjgljgjglfdgfgdfg.</p>
        </div>
    </body>
</html>
